<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <% include ../shared/head.ejs %>
</head>

<body>
<!-- Loading animation -->
<div class="preloader">
    <div class="preloader-animation">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<!-- /Loading animation -->

<div id="page" class="page">
    <!-- Header -->
    <% include components/leftheader.ejs %>
    <!-- /Header -->

    <!-- Mobile Header -->
    <% include components/mobileheader.ejs %>
    <!-- /Mobile Header -->
    <!-- Main Content -->
    <div id="main" class="site-main">
        <!-- Page changer wrapper -->
        <div class="pt-wrapper">
            <!-- Subpages -->
            <div class="subpages">

                <!-- Home Subpage -->
                <% include components/home.ejs %>
                <!-- End of Home Subpage -->

                <!-- About Me Subpage -->
                <% include components/aboutme.ejs %>
                <!-- End of About Me Subpage -->

                <!-- Resume Subpage -->
                <% include components/resume.ejs %>
                <!-- End Resume Subpage -->

                <!-- Portfolio Subpage -->
                <% include components/portofolio.ejs %>
                <!-- /Portfolio Subpage -->

                <!-- Blog Subpage -->
                <% include components/blog.ejs %>
                <!-- End Blog Subpage -->

                <!-- Contact Subpage -->
                <% include components/contact.ejs%>
                <!-- End Contact Subpage -->

            </div>
        </div>
        <!-- /Page changer wrapper -->
    </div>
    <!-- /Main Content -->
</div>

<% include ../shared/tail.ejs %>

</body>
</html>
