<section class="pt-page pt-page-5" data-id="blog">
    <div class="section-title-block">
        <h2 class="section-title">Blog</h2>
        <h5 class="section-description">My Diary</h5>
    </div>
    <div class="blog-masonry">
        <!-- Blog Post 1 -->

        <% for(let i = 0;i < blog_list.length;i++){ %>
            <% const blog = blog_list[i] %>
            <div class="item">
                <div class="blog-card">
                    <div class="media-block">
                        <a href="/blog?blog_id=<%= blog._id %>">
                            <img class="post-image img-responsive" src="<%= blog.img %>"
                                 alt="blog-post-1"/>
                            <div class="mask"></div>
                            <div class="post-date"><span class="day">6</span><span class="month">Dec</span>
                                <!--<span class="year">2016</span>--></div>
                        </a>
                    </div>
                    <div class="post-info">
                        <ul class="category">
                            <li><a href="#"><%=blog.subtitle%></a></li>
                        </ul>
                        <a href="blog-post-1.html"><h4 class="blog-item-title"><%=blog.title%></h4></a>
                    </div>
                </div>
            </div>
        <% } %>
        <!-- End of Blog Post 1 -->

    </div>
</section>