<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <% include ../shared/head.ejs %>
</head>

<body>
<!-- Loading animation -->
<div class="preloader">
    <div class="preloader-animation">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<!-- /Loading animation -->

<!-- Single Post page -->
<div id="page" class="page blog-post-page">
    <!-- Header -->

    <% include components/leftheader.ejs %>
    <!-- /Header -->

    <!-- Mobile Header -->
    <% include components/mobileheader.ejs %>

    <!-- /Mobile Header -->

    <div id="main" class="site-main">
        <div class="page-wrapper">
            <a class="blog-back-button" href="/#blog"><i class="fa fa-angle-left"></i></a>

            <div class="blog-post-main-image">
                <img class="post-image img-responsive" src="<%= blog.header_img %>" alt="blog-post-1"/>
            </div>

            <% include ./components/post.ejs %>

        </div>
    </div>
</div>
<!-- /Single Post page -->

<% include ../shared/tail.ejs %>
</body>
</html>
